*{
    padding: 0;
    margin: 0;
}


body{
    background-image: url("https://sportishka.com/uploads/posts/2023-12/1701918277_sportishka-com-p-gora-kharif-oboi-85.jpg");
    font-family: "Open Sans";
}

#block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

#FormInput{
    display: flex;
    margin-top: 5%;
    background-color: whitesmoke;
    height: 700px;
    min-height: 500px;
    width: 25%;
    min-width: 600px;
    flex-flow: column nowrap;
    flex-shrink: 0;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 5px;
}

img{
    margin-left: 33%;
    margin-top: 5%;
    text-align: center;
    border-radius: 50%;
}

h2{
    text-align: center;
}

hr{
    margin: 50px 0 50px 0 ;
}

.input{
    border: none;
    border-bottom:  2px solid grey;
    width: 400px;
    margin-left: 100px;
}

.textLabel{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 15px;
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input[type="password"][type="text"]:active, :focus  {
    border-bottom: 2px solid orange;
}

#buttonSubmit{
    border: 1px solid grey;
    height: 7%;
    width: 50%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    margin-left: 145px;
    margin-top: 5%;
    background-color: black;
    color: white;
}

#buttonSubmit:active{
    background-color: white;
    color: black;
}